.div_1{
    background-color: darkblue;
    color: red;
    text-decoration: white;
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.scienceeurope.org%2Fnews%2Fsupport-statement-ukraine%2F&psig=AOvVaw3AvLpSfeBrsCflbjMPGW7r&ust=1681918237850000&source=images&cd=vfe&ved=0CA4QjRxqFwoTCOjxo_Hfs_4CFQAAAAAdAAAAABAD);
    border: black;
}

.div_2{
    background-color: yellow;
    color: darkblue;
    text-decoration: black;
    border: black;
}
.div_1:hover{
    color: red;
}
.div_2:hover{
    color: black;
}