.container{
    max-width: 1140px;
    margin: 0 auto;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
/* identical to box height */

letter-spacing: 0.03em;

color: #2196F3;

}
span{
    color: #2196F3;
}
.headeer_blocks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 560px;
}